 .logo {
  height: 48px;
  position: absolute;
  left: 0;
  padding: 0 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  color: red;
  color: #fff;
  color: aliceblue;
  color: aqua;
}

.site-layout-background {
  background: #fff;
}