 .logo {
  height: 48px;
  position: absolute;
  left: 0;
  padding: 0 10px;
  justify-content: space-around;
  display: flex;
  align-items: center;
<<<<<<< HEAD
  color: red;
  color: #fff;
  color: aliceblue;
  color: aqua;
=======
  color: red
>>>>>>> 8114a64... 修改颜色1
}

.site-layout-background {
  background: #fff;
}